#header-navbar {
  height: $header-navbar-height;
  padding: $header-navbar-padding;
  background: $header-navbar-bg;
  border-bottom: 1px solid $header-navbar-border-color;
  font-size: 0.9em;
  color: $header-navbar-color;
  @include transform-style(preserve-3d);

  // sidebar toggle
  #sidebar-toggle {
    @include position(absolute, 0 null -1px 0);
    padding: 0 $spacer;
    border-radius: 0;
    outline: 0 !important;
    font-size: 1em;
    color: $gray;
    transition: opacity 200ms ease;

    i {
      margin-right: 0.5em;
      font-size: 1.3em;
      vertical-align: text-bottom;
      color: $gray-dark;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  .navbar-brand {
    display: none;
    @include position(absolute, 50% null null 50%);
    @include transform(translate(-50%, -50%));
    width: $header-navbar-logotype-width;
    height: $header-navbar-logotype-height;
    background: transparent url($header-navbar-logotype) no-repeat center center;
    background-size: contain;

    @include media-breakpoint-down(sm) {
      display: block;
    }
  }

.btn-group {
  @include position(absolute, 0 $spacer null null);
  height: 100%;

  .btn {
    height: 100%;
    padding: 0;
    font-size: 1rem;

    @include media-breakpoint-down(sm) {
      padding: 0 $spacer;

      i { font-size: 1.25rem; }

      &:after {
        display: none;
      }
    }
   }
}


}
