body {
    overflow-x: hidden;
 }


#wrapper {
    padding-left: 0;
    @include transition(all 0.5s ease);
}

#wrapper.toggled {
    padding-left: $sidebar-width;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: $sidebar-width;
    width: 0;
    height: 100%;
    margin-left: -$sidebar-width;
    overflow-y: auto;
    overflow-x: hidden;
    background: $sidebar-bg;
    @include transition(all 0.5s ease);
}

#wrapper.toggled #sidebar-wrapper {
    width: $sidebar-width;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 0;

    .container-fluid {
      padding: $spacer;
    }
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -$sidebar-width;
}

/* Sidebar Styles */

.sidebar-nav {
    width: $sidebar-width;
    margin: $sidebar-nav-margin;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: $sidebar-nav-li-textindent;
    line-height: $sidebar-nav-li-lineheight;
    margin: $sidebar-nav-li-margin;

    a {
        position: relative;
        display: block;
        text-decoration: none;
        color: $sidebar-nav-link-color;
        @include transition(all .2s ease);

        &:hover {
            text-decoration: none;
            color: $sidebar-nav-link-color-hover;
            background: $sidebar-nav-link-bg-hover;
        }
        &:active, &:focus { text-decoration: none; }

        > * {
          text-indent: 0;
        }
        .fa {
          margin-right: $spacer/2;
        }

        .fa-chevron-right {
          @include position(absolute, 50% $spacer null null);
          @include transform(translateY(-50%) rotate(0deg));
          display: inline-block;
          width: 10px;
          height: 10px;
          margin: 0;
          font-size: 0.8em;
          @include transition(all .2s ease);
        }

        &[aria-expanded="true"] {
          background: $sidebar-nav-link-bg-hover;
          .fa-chevron-right {
            @include transform(translateY(-50%) rotate(90deg));
          }
        }
    }
    a.active {
      color: $sidebar-nav-link-color-active;
      background: $sidebar-nav-link-bg-active;
    }

    ul.submenu {
      background: $sidebar-nav-submenu-bg;
      padding: 0;

      li {
        text-indent: $sidebar-nav-li-textindent*1.5;
        > ul.submenu li {
          text-indent: $sidebar-nav-li-textindent*2;
        }
          a[aria-expanded="true"] {
            background: $sidebar-nav-submenu-link-bg-hover;
          }
      }
      a:hover {
        background: $sidebar-nav-submenu-link-bg-hover;
      }
    }

}


.sidebar-brand {
  display: block;
  width: $sidebar-width;  
  height: $header-navbar-height;
  background: $sidebar-brand-bg url($sidebar-logotype) no-repeat $sidebar-logotype-position;
  background-size: $sidebar-logotype-size;
  border-bottom: 1px solid $sidebar-brand-border-color;
}


@media(min-width:768px) {
    #wrapper {
        padding-left: $sidebar-width;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: $sidebar-width;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 0;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
