.action-toolbar {
  position: relative;
  padding: $action-toolbar-padding;
  @include clearfix;

  > * {
    margin-left: $spacer/2;
    margin-top: 0;
    margin-bottom: 0;
    &:first-child {
      margin-left: 0;
    }
  }
}
