.js .inputfile {
    @include size(0.1px);
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}


.inputfile + label {
    white-space: nowrap;
    cursor: pointer;
    display: block;
    margin: 0;
}

.inputfile + label * {
  pointer-events: none !important;
}


.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}


/* BIG style */

.inputfile.big + label {
  width: 100%;
  padding: $spacer*2 $spacer;
  color: theme-color("primary");
  background-color: $gray-200;
  text-align: center;

  i {
    margin-bottom: $spacer/2;
  }
}



.inputfile.big:focus + label,
.inputfile.big.has-focus + label,
.inputfile.big + label:hover {
    background-color: lighten($gray-200, 2%);
}


/* Medium style */

.inputfile.medium + label {
  width: 100%;
  padding: $spacer/2;
  color: theme-color("primary");
  background-color: $gray-200;
}

.inputfile.medium:focus + label,
.inputfile.medium.has-focus + label,
.inputfile.medium + label:hover {
    border-color: #722040;
}


.inputfile.medium + label span {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    padding: $spacer/4 0;
    color: $gray-400;
}
.inputfile.medium + label .btn {
    float: right;
}
