.nestable-list {
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nestable-list .nestable-list { padding-left: $spacer*1.5; }
.nestable-collapsed .nestable-list { display: none; }

.nestable-item,
.nestable-empty,
.nestable-placeholder {
  display: block;
  position: relative;
}


.nestable-handle {
    display: block;
    margin: $spacer/2 0;
    padding: $spacer/2 $spacer/2 $spacer/2 $spacer*1.6666;
    background-color: $gray-lighter;
    border: 1px solid transparent;
    cursor: move;
    @include border-radius($border-radius-sm);

    &:hover {
      opacity: 0.7;
     }
}


.nestable-item > button {
  position: relative;
  cursor: pointer;
  float: left;
  width: 32px;
  margin: 0 $spacer/10 0 $spacer*1.5;
  padding: $spacer/2 0 $spacer/2 $spacer/2;
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  z-index: 99;
  background: transparent;
}
.nestable-item > button:before {
  display: block;
  margin-top: 5px;
  position: absolute;
  font-family: 'FontAwesome';
  font-size: 0.9em;
  content: '\f067'; // Font Awesome plus icon
  color: rgba($gray-dark,0.5);
  text-indent: 0;
}
.nestable-item > button[data-action="collapse"]:before {
  content: '\f068'; // Font Awesome minus icon
}


.nestable-placeholder,
.nestable-empty {
  margin: 5px 0;
  padding: 0;
  min-height: 30px;
  background: $gray-lightest;
  border: 2px dashed $gray-light;
}

.nestable-empty {
  border: 1px dashed #bbb;
  min-height: 100px;
  background-color: transparent;
}

.nestable-dragel {
  position: absolute;
  pointer-events: none;
  z-index: 9999;

  .nestable-handle { opacity: 0.7; }
  .small-action-btn-group { display: none; }
}

.nestable-dragel > .nestable-item .nestable-handle { margin-top: 0; }

.nestable-dragel .nestable-handle {
    @include box-shadow(0 6px 12px rgba(0,0,0,.175));
}

// Drag handle (main styling is done in sortable.scss)

.nestable-item .fa.drag-handle {
  position: absolute;
  top: $spacer/1.3333;
  left: $spacer/1.3333;
}


// Background variants
.nestable-primary .nestable-handle {
  @include nestable-variant($brand-primary, $brand-primary);
}
.nestable-success .nestable-handle {
  @include nestable-variant($brand-success, $brand-success);
}
.nestable-info .nestable-handle {
  @include nestable-variant($brand-info, $brand-info);
}
.nestable-warning .nestable-handle {
  @include nestable-variant($brand-warning, $brand-warning);
}
.nestable-danger .nestable-handle {
  @include nestable-variant($brand-danger, $brand-danger);
}

// Remove all backgrounds
.nestable-primary-outline {
  @include nestable-outline-variant($btn-primary-bg);
}
.nestable-secondary-outline {
  @include nestable-outline-variant($btn-secondary-border);
}
.nestable-info-outline {
  @include nestable-outline-variant($btn-info-bg);
}
.nestable-success-outline {
  @include nestable-outline-variant($btn-success-bg);
}
.nestable-warning-outline {
  @include nestable-outline-variant($btn-warning-bg);
}
.nestable-danger-outline {
  @include nestable-outline-variant($btn-danger-bg);
}

//
// Inverse text within a nestable for use with dark backgrounds
//

.nestable-inverse {
  color: white;
  .small-action-btn-group .btn,
  button:before {
    color: white;
  }
}
