
.page-header {
  padding-bottom: $spacer;
  @include transform-style(preserve-3d);

  // Override bootstrap breadcrumb CSS
  .breadcrumb {
    padding: 0;
    margin: $spacer/4 0;
    background: transparent;

    a:hover {
      text-decoration: none;
    }
  }

  h1 {
    margin: 0;
  }

  .page-header-actions {
    margin-top: $spacer;

    @include media-breakpoint-up(lg) {
      @include position(absolute, 50% $spacer/1.5 null null);
      @include transform(translateY(-50%));
      margin-top: 0;
    }
  }

}
