$gray-900:                   #040D14;
$devise-background-color:     $gray-900;
$sidebar-bg:                  #0b1d2a;

$sidebar-logotype:        asset-path('logo.svg');
$sidebar-logotype-size:   auto 50% !default;

$sidebar-nav-link-color:            white;
$sidebar-nav-link-color-hover:      white;
$sidebar-nav-link-bg-hover:         theme-color("danger");
$sidebar-nav-link-color-active:     theme-color("danger");
$sidebar-nav-link-bg-active:        transparent !default;

@import 'bourbon';
@import "bootstrap/functions";
@import 'variables';
@import "bootstrap";

@import 'mixins/nestable';

@import 'components/devise';
@import 'components/header-navbar';
@import 'components/sidebar';
@import 'components/page-header';
@import 'components/card';
@import 'components/btn-circle';
@import 'components/small-action-btns';
@import 'components/file-input';
@import 'components/sortable';
@import 'components/toggle-button';
@import 'components/forms';
